@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@theme {
  /* --- Blanco Frío (Ghost) --- */
  --color-ghost: #F8F9FF;
  --color-slate-25: #F8F9FF; /* Extensión de la paleta slate */

  /* --- Alice Blue (Fondos de sección) --- */
  --color-alice: #F0F4F8;
  --color-section: #F0F4F8; /* Nombre funcional */

  /* --- Cultured (Tarjetas/Cards) --- */
  --color-cultured: #F2F4F6;
  --color-card: #F2F4F6;    /* Nombre funcional */
  /*---Banner */

  --color-emerald-vibe: #10B981;   /* Verde Esmeralda (Energía) */
  --color-night-blue: #0F172A;     /* Azul Noche (Elegancia) */
  --color-mint-bright: #34D399;    /* Menta (Brillo para el texto/bordes) */
}